<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>stuWeb2</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
<!--     <welcome-file>index.htm</welcome-file> -->
<!--     <welcome-file>index.jsp</welcome-file> -->
<!--     <welcome-file>default.html</welcome-file> -->
<!--     <welcome-file>default.htm</welcome-file> -->
<!--     <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  <servlet>
  <servlet-name>StudentServlet</servlet-name>
  <servlet-class>servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StudentServlet</servlet-name>
  <url-pattern>/stu</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>BanJiServlet</servlet-name>
  <servlet-class>servlet.BanJiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BanJiServlet</servlet-name>
  <url-pattern>/bj</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
  <servlet-name>SubjectServlet</servlet-name>
  <servlet-class>servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubjectServlet</servlet-name>
  <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>IndexServlet</servlet-name>
  <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>IndexServlet</servlet-name>
  <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
      <servlet>
  <servlet-name>ScoreServlet</servlet-name>
  <servlet-class>servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ScoreServlet</servlet-name>
  <url-pattern>/sc</url-pattern>
  </servlet-mapping>
  
  
  <filter>
  <filter-name>CharacterFilter</filter-name>
  <filter-class>filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>CharacterFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>